---
layout: default
---

<article class='post'>
    <div class="post-categories">
      Categories: 
      {% if post %}
        {% assign categories = post.categories %}
      {% else %}
        {% assign categories = page.categories %}
      {% endif %}
      {% for category in categories %}
      <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
      {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </div>
  <p></p>
  <h1>{{ page.title }}</h1>
  
  {{ content }}
</article>

{% include disqus.html %}
